
/* src/components/Navbar.css */
.navbar {
    background-color: var(--accent-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    /*curved edges*/
    border-radius: 0 0 10px 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar a:hover, .navbar a:focus {
    color: #007bff;
    transform: translateY(-2px);
    background-color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        padding: 10px;
    }

    .navbar li {
        margin: 10px 0;
    }
}
